version: '3.7'

services:
  psql:
    container_name: psql_server
    image: postgres:16.1
    environment:
      POSTGRES_DB: "${DB_NAME}"
      POSTGRES_USER: "${DB_USERNAME}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
    networks:
      - network-manager
    ports:
      - "5432:5432"

  # --------BACKEND_SERVICE--------

  backend:
    container_name: backend_service
    image: autoservice-manager/backend:latest
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://psql_server:5432/${DB_NAME}"
      SPRING_DATASOURCE_USERNAME: "${DB_USERNAME}"
      SPRING_DATASOURCE_PASSWORD: "${DB_PASSWORD}"
      app.cors.allowed-origins: "http://localhost"
    ports:
      - "8080:8080"
    networks:
      - network-manager
    depends_on:
      - psql
    links:
      - "psql"
    restart: always

  frontend:
    container_name: frontend_service
    build: ./frontend
    environment:
      REACT_APP_BASE_URL: "backend:8080"
    ports:
      - "80:3000"
    volumes:
      - '.frontend/:/frontend'
      - '/frontend'
    stdin_open: true
    networks:
      - network-manager
    links:
      - "backend"

# -------------------------------

networks:
  network-manager:
    driver: bridge