
services:
  psql:
    container_name: psql_server
    image: postgres:16.1
    environment:
      POSTGRES_DB: "${DB_NAME}"
      POSTGRES_USER: "${DB_USERNAME}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
    networks:
      - network-manager

  # --------BACKEND_SERVICE--------

  backend:
    container_name: backend_service
    image: autoservice-manager/backend:latest
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://psql_server:5432/${DB_NAME}"
      SPRING_DATASOURCE_USERNAME: "${DB_USERNAME}"
      SPRING_DATASOURCE_PASSWORD: "${DB_PASSWORD}"
    networks:
      - network-manager
    ports:
      - "8080:8080"
    depends_on:
      - psql
    links:
      - "psql"
    restart: always

# -------------------------------

networks:
  network-manager:
