.container {
  background-color: #00000033;
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(227, 227, 227);
    padding-left: 50px;
    width: 100%;
  }

  .content {
    flex: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;

    .jobsContainer {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #2c52b5;

      .job {
        flex: 9;
        background-color: #abb8d8;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .jobs {
          display: flex;
          align-items: flex-start;
          justify-content: space-around;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.39);
        }
        .addJob {
          background-color: rgba(0, 0, 0, 0.39);
        }
      }
      .comment {
        flex: 4;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      button {
        flex: 1;
      }
    }
  }
}