.container {
  background-color: #00000033;
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;


  .header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    .addVisit {

    }
  }

  .content {
    flex: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;

    .jobsContainer {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .job {
        flex: 9;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .jobs {
          display: flex;
          align-items: flex-start;
          justify-content: space-around;
          gap: 10px;
          border: var(--border) solid 1px;
          border-radius: 10px;
          margin: 10px 20px 10px 0;
        }
        .addJob {
        }
      }
      .comment {
        flex: 4;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      button {
        flex: 1;
      }
    }
  }
}