.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0;

  .clientInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    margin-right: 20px;
    border-right: 10px solid var(--background);

    .clientInfoItem {
      margin: 0;
    }

    .deleteClient {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }
}