
  .content {
    flex: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;

    .jobsContainer {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .addJob {
        margin-top: 10px;
        overflow: hidden;
        align-self: flex-start;
      }

      .job {
        flex: 9;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .jobs {
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 10px;
          border: var(--border) solid 1px;
          border-radius: 10px;
          margin: 10px 20px 10px 0;
        }
      }
      .comment {
        flex: 4;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      button {
        flex: 1;
      }
    }
  }