.itemsContainer {
  flex: 1;
  width: 100%;


  .item {
    flex: 1;
    display: flex;
    cursor: pointer;
    border: 1px solid #9fb8ff;
    border-radius: 5px;
    margin: 10px 20px 0 0;
    height: 40px;
    gap: 30px;
    align-items: center;
    padding: 10px 30px;

    .comment {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100px;
      display: inline-block;
    }

    &:hover {
      background-color: var(--hover);
    }
  }
}

