.container {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;
  background-color: var(--container);
  margin: 10px 10px 10px 0;
}

.content {
  display: flex;
  flex: 1;
  height: 100%;
}