.clientItem {
  flex: 1;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  gap: 4px;
  margin: 5px;
  border: 1px solid #9fb8ff;
  border-radius: 5px;
  overflow: hidden;
  &:hover {
    background-color: var(--hover);
  }
}